.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// カラー
.text-primary {
  color: $primary-color;
}
.text-success {
  color: $success-color;
}
.text-danger {
  color: $danger-color;
}
.text-warning {
  color: $warning-color;
}
.text-info {
  color: $info-color;
}
.text-muted {
  color: $medium-gray;
}

// エフェクト
.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
