* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// カスタムスクロールバー
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: $border-radius-sm;

  &:hover {
    background: #a8a8a8;
  }
}
